<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to Get Started?</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum velit in
        qui eaque vel rem, ut, dignissimos non accusamus facilis ratione totam
        unde, iste ducimus eos ipsa! Recusandae, commodi laborum!
      </p>
    </div>
    <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
  </div>
</div>
