<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Updates</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione nemo
      numquam repellendus repudiandae culpa, delectus illo quidem aut quisquam
      veritatis provident necessitatibus quaerat voluptatibus dolores aliquid!
      Vero temporibus impedit debitis.
    </p>
  </div>
</div>
